body {
  font-family: sans-serif;
}
header, nav {
  text-align: center;
}
nav {
  width: 100%;
}
nav > div {
  min-width: 500px;
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}
nav > div > input {
  width: 100%;
  margin: auto;
  padding: 10px;
  padding-right: 70px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
nav > div > input:focus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
nav > div > span {
  position: absolute;
  right: 7px;
  color: grey;
  visibility: hidden;
}
section {
  min-width: 750px;
  width: 75%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
section > div {
  width: 28%;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
}
