body {
    width: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: lightblue;
}

h2 {
    margin-bottom: 25px;
    border-bottom: 1px solid grey;
}

body > div > div {
    display: flex;
    height: 80px;
}

body > div > div > * {
    width: 50%;
    padding-left: 10px;
}
