body {
    width: 600px;
    margin: auto;
    margin-top: 100px;
    background-color: lightcyan;
}

body > div > div {
    display: flex;
    height: 80px;
}

body > div > div > * {
    width: 50%;
    padding-left: 10px;
}
