body {
  display: flex;
}

body > div:first-child {
  width: 25%;
}

table {
  border: 1px solid black;
}

table td {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}
