header {
  text-align: center;
}
nav > a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: lightblue;
}
nav > a:hover {
  background-color: cyan;
}
main {
  position: relative;
}
main > section {
  position: absolute;
  left: 0;
  top: 0;
}
